@import url('https://fonts.googleapis.com/css?family=Doppio+One|Londrina+Sketch&display=swap');


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: doppio one;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  background-color: #202833;
  display: flex;
  flex-flow: column;

  nav.desk {
    display: none;
  }

  h1#back {
    //display: none;
    font-family: Londrina Sketch;
    color: white;
    position: absolute;
    text-transform: uppercase;
    opacity: 0.1;
    font-size: 7rem;
    text-align: left;
    width: 100%;
    z-index: 1;
    margin: 0 0 0 -.3em;
  }

  .header{
    padding: 3em 0 0 0;
    z-index: 2;

    .left {
      z-index: 3;
      position: absolute;
      top: 22em;
      width: 100%;


      h1 {
        color: white;
        //top: 50%;
        font-family: Doppio one;
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 0;
        text-align: center;
      }

      p {
        visibility: hidden;
      }

      .buttons {
        display: none;
      }
    }

    .right {
      text-align: center;
    }
  }

}

.articles {
  padding: 2em;
  text-align: center;

  .about {
    margin: 2em 0;

    h1 {
      margin-bottom: .3em;
    }

  }

  h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .01em;
    margin-bottom: 2em;
  }

  .article {
    margin: 4em 0;

    img {
      width: 100%;
    }

    h2 {
      margin-top: 0;
      text-transform: uppercase;
      font-family: doppio one;
      font-size: 2em;
      letter-spacing: .03em;
    }

    p {
      display: none;
    }
  }

}

nav.mobile {
  background-color: #202833;
  margin: 0;
  position: fixed;
  padding: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 4px 0 10px #000000;
  z-index: 10;

  a {
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style-type: none;
      height: 100%;

      i{
        color: white;
        margin-right: .3em;
      }

      span {
        font-size: .7em;
      }

    }

  }

}

@media(min-width: 730px) {
  .articles {
    padding: 2em 4em 4em 4em;

    .article {
      box-shadow: 0 0 10px grey;
      padding-bottom: 1em;
    }

  }

}

@media(min-width: 930px){
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .hero {
    min-height: 100vh;
    width: 100%;



    h1#back {
      font-family: Londrina Sketch;
      text-transform: uppercase;
      font-size: 18rem;
      margin: 0;
      position: absolute;
      left: -2rem;
      top: 2.1em;
      z-index: 2;
      opacity: 0.04;
      overflow: hidden;
    }

    nav.desk {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {

        ul{
          display: flex;

          a {
            color: white;
            font-family: doppio one;
            text-transform: uppercase;
            font-size: 1.4em;

            li {
              list-style: none;
              display: inline-flex;
              padding: 1em;
            }

          }

        }

      }

      .right {

        ul{
          display: flex;

          a {
            color: white;
            font-family: doppio one;
            text-transform: uppercase;
            font-size: 1.4em;

            li {
              list-style: none;
              display: inline-flex;
              padding: 1em;

              img {
                width: 1.8em;
                height: auto;
              }

            }

          }

        }

      }

    }

    .header {
      padding: 0 10em 0 10em;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "left left right";
      font-family: Doppio one;


      .left {
        grid-area: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        position: inherit;

        .wrapper {
          animation: leftFade 1.5s forwards;
        }

        h1 {
          font-size: 4em;
          margin: 0;
          text-transform: uppercase;
          font-weight: 400;
          text-align: left;
        }

        p {
          visibility: visible;
          font-size: 1.3rem;
          color: white;
        }

        button:hover {
          box-shadow: 0px 0px 20px #66FCF1;
        }

        .buttons{
          display: flex;
        }

        button#about {
          background: #66FCF1;
          border: none;
          border-radius: 17px;
          width: 222px;
          height: 59px;


          h3 {
            color: white;
            text-transform: uppercase;
            font-size: 1.5em;
          }

        }

        button#contact {
          border: 5px solid #46A29F;
          box-sizing: border-box;
          border-radius: 17px;
          width: 225px;
          height: 62px;
          background-color: rgba(70, 162, 159, 0);
          margin-left: 1.5em;

          h3{
            color: white;
            text-transform: uppercase;
            font-size: 1.3em;
            align-self: center;
          }

        }

      }

      .right {
        grid-area: right;
        text-align: right;

        img {
          width: auto;
          height: 50em;
          animation: topDraw 1.5s forwards;
        }
      }
    }

  }

  nav.mobile {
    display: none;
  }

  .articles {

    text-align: left;

    .about {
      display: none;
    }

    .article {
      box-shadow: none;
      margin: 2em;
      padding: 0;
      position: inherit;
      display: grid;
      grid-template-columns: repeat(2,50%);
      grid-template-areas:
        "content-image content-text";

        &:hover {
          color: #40A29F;
        }

        img {
          grid-area: content-image;
          height: auto;
        }

        .text {
          padding: 0 10%;
          text-align: left;
          align-self: center;
          grid-area: content-text;

          p {
            display: inline;
          }

        }

    }

  }

}

@keyframes leftFade{
  from {
    opacity: 0;
    transform: translateX(-3em);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes topDraw {
  from{
    opacity: 0;
    transform: translateY(-5em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
