@import url('https://fonts.googleapis.com/css?family=Doppio+One|Londrina+Sketch&display=swap');


body {
  margin: 0;
  text-align: center;
  font-family: doppio one;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  background-color: #202833;
  display: flex;
  flex-flow: column;

  nav.desk {
    display: none;
  }

  h1#back {
    display: none;
    font-family: Londrina Sketch;
    color: white;
    position: absolute;
    text-transform: uppercase;
    opacity: 0.1;
    font-size: 7rem;
    text-align: left;
    z-index: 1;
    margin: 0 0 0 -.3em;
  }

  .header{
    margin: 3em 0 0 0;
    z-index: 2;

    .left {
      z-index: 3;
      position: relative;
      top: -2em;

      h1 {
        color: white;
        font-family: Doppio one;
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 0;
      }

      p {
        display: none;
      }

      .buttons {
        display: none;
      }
    }

    .right {
      text-align: center;
    }
  }

}

.articles {
  padding: 2em;

  .about {
    margin: 2em 0;

    h1 {
      margin-bottom: .3em;
    }

  }

  .article {
    margin: 4em 0;

    img {
      width: 100%;
    }

    h2 {
      margin-top: 0;
      text-transform: uppercase;
      font-family: doppio one;
      font-size: 2em;
      letter-spacing: .03em;
    }

    p {
      display: none;
    }
  }

}

nav.mobile {
  background-color: #202833;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 99%;

  a {
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style-type: none;
    }

  }

}
